@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0 auto;
}

h2, p, a, div {
    font-family: 'Montserrat', sans-serif!important;
}

h2 {
    font-weight: 700;
    text-align: center;
    font-size: 22px;
    color: rgba(55, 55, 55, 1);
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin: 42px 42px 10px 42px;
}

ul {
    margin: 0;
}

a {
    text-decoration: none;
    color: rgba(255, 0, 0, 1);
}

p {
    color: rgba(55, 55, 55, 1);
}

.photo-main {
    width: 100%;
    height: auto;
}

.page-body {
    background-color: rgba(0,0,0,0);
}

.site-list {
    display: flex;
    padding: 0;
    justify-content: center;
}

.site-item {
    display:inline;
    text-transform: uppercase;
    list-style: none;
    padding: 25px 35px;
    letter-spacing: 2.7px;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
}

.site-item:hover {
    background: rgb(255, 213, 213);
}

.main-description {
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;
    white-space: pre-wrap;
    margin: 0;
}

.wrapper {
    padding-bottom: 82px;
}

.btn-main {
    color: rgba(255, 255, 255, 1);
    padding: 18px 43.5px 17.5px 42.5px;
    background-color: rgba(255, 0, 0, 1);
    border-radius: 4px;
    transition: 0.3s;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 1.8px;
}

.btn-main:hover {
    background: rgb(170, 18, 18);
}

.btn {
    text-align: center;
    margin-top: 66px;
}

.page-footer {
    font-size: 16px;
    margin-right: 105px;
    margin-bottom: 29px;
    text-align: right;
    letter-spacing: 2.4px;
    font-weight: bold;
    align-items: center;
    line-height: 20px;
}